@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgb(236, 190, 190);
  border: 1px solid black;
  min-height: 10px;
}

body {
  font-family: $body-font;
  background-color: $body-bg-color;
}

.container-csm {
  width: $container-width;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
