// fonts
$body-font: Arial, Helvetica, Sans-serif;

// colors
$header-bg-color: #ff6900;
$body-bg-color: #ffffff;
$footer-bg-color: #1a1a1a;
$link-color: white;
$button-green: green;
$button-red: red;

// measures
$container-width: 90%;
